<p-dialog [header]="'SETTINGS.PASSWORD.TITLE' | translate" [(visible)]="display" [breakpoints]="{'960px': '90vw'}"
          [style]="{width: '50vw'}" [draggable]="false" [resizable]="false" [closable]="false" [modal]="true">
  <div class="container-fluid" [formGroup]="passwordGroup">
    <div class="row mt-3">
      <input class="w-100" pInputText [placeholder]="'SETTINGS.PASSWORD.PASSWORD' | translate" formControlName="password">
    </div>
    <div class="row mt-3">
      <input class="w-100" pInputText [placeholder]="'SETTINGS.PASSWORD.NEW_PASSWORD' | translate" formControlName="newPassword">
    </div>
    <div class="row mt-3">
      <input class="w-100" pInputText [placeholder]="'SETTINGS.PASSWORD.REPEAT_PASSWORD' | translate" formControlName="repeatedPassword">
      <div *ngIf="passwordGroup.get('repeatedPassword')?.invalid &&
        passwordGroup.get('repeatedPassword')?.errors">
        <small class="text-danger"
               *ngIf="passwordGroup.get('repeatedPassword')?.hasError('mustMatch') && passwordGroup.get('repeatedPassword')?.dirty">
          {{ 'REGISTER.NOT_MATCH_PASSWORD' | translate }}
        </small>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button (click)="changePassword()" [disabled]="passwordGroup.invalid" [label]="'SETTINGS.PASSWORD.CHANGE' | translate" styleClass="p-button-text"></p-button>
    <p-button (click)="hide()" [label]="'SETTINGS.PASSWORD.CANCEL' | translate" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
